.button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  font-weight: bold;
  background-color: rgb(248, 196, 123);
  &:hover {
    background-color: rgb(238, 157, 44);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
